<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="桌面调教"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">

        <!-- Xposed 模块声明 -->
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="桌面优化：180°旋转解锁等" />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />

        <!-- 配置 ContentProvider —— 无 root 跨进程共享配置 -->
        <provider
            android:name=".config.ConfigProvider"
            android:authorities="com.gtlx.launchertweaks.configprovider"
            android:exported="true" />

        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:label="桌面调教">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
